{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}


<div class="grid-container">
    <div class="grid-child-image">
        <h1> {{ subject.name}} </h1>
            <img src="{{ asset('images/chemist.png') }}" alt="child doing experiments"/>
        </div>


<a href="{{ path('app_subject_quizzes', {'id': subject.id}) }}">view quizzes</a>


    <a href="{{ path('app_subject_index') }}">back to list</a>

    <a href="{{ path('app_subject_edit', {'id': subject.id}) }}">edit</a>

    {{ include('subject/_delete_form.html.twig') }}
</div>
{% endblock %}
